[importlinter]
root_packages =
    domain
    application
    infrastructure
    interface

[importlinter:contract:1]
name = Layering contract
type = layers
layers =
    interface
    application
    domain
